In [43]:

# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas

# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:jack').get_items()): #declare a username 
    if i>1000: #number of tweets we want to scrape
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

<ipython-input-43-647d23e866d5>:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username]) #declare the attributes to be returned

In [44]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username
0,2023-01-02 01:13:43+00:00,1609719555827408897,@damusapp ðŸ‘€,jack
1,2023-01-01 06:00:30+00:00,1609429338641793027,pura vida,jack
2,2022-12-30 19:05:37+00:00,1608902142924062722,@jb55 ðŸ‘€,jack
3,2022-12-29 06:11:20+00:00,1608344900361244672,https://t.co/bBQhvGML79,jack
4,2022-12-29 01:17:20+00:00,1608270911639109639,@suhailsaqan Nice work,jack

In [47]:
# Export dataframe into a CSV
tweets_df1.to_csv('user-tweets.csv', sep=',', index=False)

## **Scraping tweets from a text search query**

Using the code below, we are scraping 5000 tweets between January 1, 2021, and May 31, 2021, with the keywords â€˜COVID Vaccineâ€™. I then pulled attributes DateTime, tweet id, text, and username from the tweet object.

In [45]:
# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('COVID Vaccine since:2021-01-01 until:2021-05-31').get_items()):
    if i>5000:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

<ipython-input-45-5159ccf39ae2>:8: FutureWarning: content is deprecated, use rawContent instead
  tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [46]:
tweets_df2.head()

,Datetime,Tweet Id,Text,Username
0,2021-05-30 23:59:52+00:00,1399153618566123525,@JoeBarri @DawnRubino I am vaccinated. I have ...,jeleblanc15
1,2021-05-30 23:59:46+00:00,1399153595707281410,Pastor Rick Wiles Apparently Has COVID After R...,ADAMXMAN
2,2021-05-30 23:59:45+00:00,1399153589512138754,"""On May 18, the federal Department of Health q...",DuskaSulicich
3,2021-05-30 23:59:45+00:00,1399153589038292997,@Culture_Rot @NoMorePlatosCav @SteveDeaceShow ...,BidensFineChina
4,2021-05-30 23:59:31+00:00,1399153532289253378,Health experts urge caution on giving Covid va...,twenty2welve

In [48]:
# Export dataframe into a CSV
tweets_df2.to_csv('text-query-tweets.csv', sep=',', index=False)